Django>=4.2
django-environ
flake8
google-generativeai
gunicorn
jinja2
lightgbm
markdown2
matplotlib
mplfinance
numpy==1.23.5
pandas==1.5.3
psycopg2-binary
pytest
scikit-learn
setuptools
ta
xlrd==1.2.0
yfinance
